.card {
background: rgba(255, 255, 255, 0.27) !important;
border-radius: 16px !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(5.9px) !important;
border: 1px solid rgba(255, 255, 255, 0.3) !important;
color:#fff;
}

